#/home/rezal/.config/systemd/user/site-backend@.service

[Unit]
Description="Serveur pour le backend du site, on port %i"
PartOf=site-backend-main.service
After=site-backend-main.service

[Service]
Type=simple
Environment="PORT=%i"
WorkingDirectory=/home/rezal/site/
ExecStart=/home/rezal/miniconda3/envs/site/bin/gunicorn --worker-class gevent -w 1 run:app
Restart=on-failure


[Install]
