#/home/rezal/.config/systemd/user/site-backend-main.service
[Unit]
Description=Serveur principal pour le backend du site
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=default.target
