.user-link-text,
.user-link-text:visited,
.user-link-text:active {
    color: var(--text-color) !important;
    text-decoration: none;
}

.user-link-text:hover {
    color: var(--primary-color) !important;
    text-decoration: underline;
    cursor: pointer;
}

.anniv-date-header {
    font-weight: bold;
    font-size: 1.05rem;
    letter-spacing: 0.5px;

    color: var(--primary-color);

    border-bottom: 1px solid;
    padding-bottom: 0.25rem;
}