@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";


.asso-banner {
    height: 200px;
    background-size: cover;
    background-position: center;
    background-color: var(--card-border-color); /* Default background */
}

.asso-main-content {
    background-color: var(--card-bg);
}

.asso-member-badge {
    background-color: var(--success-color);
    color: var(--success-text-color);
}

.asso-primary-btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--header-text);

    &:hover {
        background-color: var(--primary-color-hover);
        border-color: var(--primary-color-hover);
    }
}


.asso-logo {
    margin-top: -75px;
    width: 150px;
    height: 150px;
    border: 6px solid var(--card-bg);
    background-color: var(--card-bg);
    object-fit: contain;
}

.member-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /*6 cards per row*/
  gap: 0.5rem;
}

.asso-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /*5 cards per row*/
  gap: 0.5rem;
}

.post-card {
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.85rem;
  }
}
