// Styles for the chat block.
// The max-height is set to ensure the message display area is scrollable.
#message-display {
    max-height: 200px;
    overflow-y: auto;
}

.chat-message {
    font-size: 0.8em;
}

body[data-theme] .chat-author-me {
    color: var(--primary-color);
    text-decoration: none;
}

body[data-theme] .chat-author-other {
    color: var(--text-color);
    text-decoration: none;
}

.chat-input {
    font-size: 0.8em;
}