// Import Bootstrap functions and variables to override them
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

.global-header-header {
    background-color: var(--header-bg);
    color: var(--header-text);
    padding: 10px 20px;
    min-height: 40px;
    position: sticky;
    top: 0;
    z-index: 1020;

    .navbar-brand,
    .nav-link {
        color: var(--header-text) !important;
    }
    .mobile-dropdown .nav-link {
        margin-bottom: -10px;
    }

    h1 {
        font-size: 24px;
        margin: 0;
        color: var(--header-text);
    }

    .navbar-brand {
        @include media-breakpoint-up(md) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .navbar-collapse {
        @include media-breakpoint-down(md) {
            background-color: var(--header-bg); /* Use header-bg for collapsed background too */
            padding: 1rem;
            border-radius: $border-radius; // $border-radius can stay as it's a size variable
            margin-top: 0.5rem;
        }
    }
}